* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.page-two__container {
  display: flex;
}

.page-two__side-menu {
  display: flex;
  flex-direction: column;
  width: 400px;
  height: 100vh;
  background-color: #ccc;
  color: #fff;
  padding: 20px;

  position: fixed;
}

.page-two__side-menu-button {
  background-color: #fff;
  color: #333;
  padding: 10px;
  margin-bottom: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.page-two__side-menu-button a {
  text-decoration: none;
  color: #333;
}

.page-two__side-menu-button:hover {
  background-color: #333;
  color: #fff;
}

.page-two__content {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: 20px;
  margin-left: 400px;
  height: 100vh;
}

.page-two__content header h1 {
  margin-bottom: 20px;
}

.page-two__content footer {
  margin-top: auto;
  text-align: center;
}

html {
  scroll-behavior: smooth;
}
body {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  background-color: #ccc;
}

header {
  background-color: rgb(247, 125, 11);
  display: flex;
  justify-content: space-between; 
}

header .left-img img{
  width: 80px;
  height: auto;
  text-align: center;
  border-radius: 50%;
}

header .left-text{
  font-size: 30px;
  color: white;
  font-weight: bold;
}

header .header-links li{
  list-style: none;
  display: inline-block;
  margin: 20px;
  padding-right: 15px;
  font-family: Arial, Helvetica, sans-serif;
}

header a {
  text-decoration: none;
  color: white;
}

.left-text, .left-img{
  padding-top: 15px;
  padding-left: 20px;
}

header span {
  color: white;
  width: 300px;
}

button {
  all: unset;
  padding: 8px;
  border-radius: 8px;
}

button:hover {
  background-color: white;
  color: black;
}

.primeiroArt h1, .segundoArt h1, .terceiroArt h1{
  color: brown;
}

.primeiroArt, .segundoArt, .terceiroArt {
  border: 1px solid black;
  margin: 1%;
  padding: 3%;
  background-color: #07adfa;
  font-family: 'Times New Roman', Times, serif;
  height: 400px;
}

.dropdown {
  width: 300px;
 
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #fc6500;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgb(4, 189, 245);
  color: #ffffff;
  padding: 12px 16px;
  z-index: 1;
}

.dropdown-content p{
  padding: 10px;
  cursor: pointer;
}

.dropdown:hover .dropdown-content {
  display: block;
}

#rodape {
  text-align: center;
  background: rgb(255, 103, 1);
  color: white;
  padding: 3%;
  font-size: 1rem;
}